<section class="heading">
    <a asp-page="/Index"><img src="~/img/Logo1Head.svg" /> </a>
    <img src="~/img/Logo1Text.svg" />
</section>

<style>
    .heading {
        padding: 2rem;
        display: flex;
        justify-content:center
    }
        .heading > img {
            height: 2.2rem;
        }
        .heading > a {
            object-fit: cover;
            width: 2.2rem;
        }
</style>